{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>{{ page.title }}</h1>
    <p>{{ page.intro }}</p>

    <div class="dynamic-sections">
        {% for block in page.body %}
            <div class="debug-info">
                <p class="hide-paragraph">Block Type: {{ block.block_type }}</p>
                <p class="hide-paragraph">Block Value: {{ block.value }}</p>
            </div>

            {% if block.block_type == "text" %}
                <div class="text-block">
                    <h2>{{ block.value|richtext }}</h2>
                </div>

            {% elif block.block_type == "image" %}
                <div class="image-block">
                    <img src="{{ block.value.image.url }}" alt="{{ block.value.caption }}">
                </div>

            {% elif block.block_type == "content" %}
                <div class="nested-content-block">
                    {% for nested_block in block.value %}
                        {% include_block nested_block %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
