{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
    <script type="text/javascript">
        var GOOGLE_CLIENT_ID = '{{ GOOGLE_CLIENT_ID }}';
        var DEVELOPER_KEY = 'AIzaSyDWZbfXkYqNNcQV7Fh-axUazNI0gdyTVR4';
    </script>
    <script type="text/javascript" src="{% static 'js/google_picker.js' %}"></script>
    <div>
        <button onclick="onApiLoad()">Add File</button>
        <h1>{{ page.title }}</h1>
        <p>{{ page.hero_text }}</p>
        {% for file in page.g_drive_page_files.all %}
            <p>{{ file.file.name }}</p>
            <p>{{ file.file.url }}</p>
            <iframe src="{{ file.file.url }}" width="640" height="480" allow="autoplay"></iframe>
        {% endfor %}
    </div>

  {{ page.body|richtext }}
{% endblock content %}